/* $Id: styles.css */
/**
/* Warning: this may add 1-2 pixels to bottom of page */
body {
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 1;
}



#round-1 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 200px 0px 0px 0px;
  border-right: 3px #a72525 solid;
}

#round-2 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 200px 0px 0px 0px;
  border-bottom: 3px #a72525 solid;
}

#round-3 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 200px 0px 0px 0px;
  border-bottom: 3px #a72525 solid;
  border-right: 3px #a72525 solid;
}

#round-4 {
  float: left;
  clear: right;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 200px 0px 0px 0px;
  border-left: 3px #a72525 solid;
}

#round-5 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 200px 0px 0px 0px;
  border-left: 3px #a72525 solid;
  border-right: 3px #a72525 solid;
}

#round-6 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 200px 0px 0px 0px;
  border-left: 3px #a72525 solid;
  border-bottom: 3px #a72525 solid;
}

#round-7 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 200px 0px 0px 0px;
  border-left: 3px #a72525 solid;
  border-bottom: 3px #a72525 solid;
  border-right: 3px #a72525 solid;
}

#round-8 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 200px 0px 0px 0px;
  border-top: 3px #a72525 solid;
}

#round-9 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 200px 0px 0px 0px;
  border-top: 3px #a72525 solid;
  border-right: 3px #a72525 solid;
}

#round-10 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 200px 0px 0px 0px;
  border-top: 3px #a72525 solid;
  border-bottom: 3px #a72525 solid;
}

#round-11 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 200px 0px 0px 0px;
  border-top: 3px #a72525 solid;
  border-bottom: 3px #a72525 solid;
  border-right: 3px #a72525 solid;
}

#round-12 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 200px 0px 0px 0px;
  border-top: 3px #a72525 solid;
  border-left: 3px #a72525 solid;
}

#round-13 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 200px 0px 0px 0px;
  border-top: 3px #a72525 solid;
  border-left: 3px #a72525 solid;
  border-right: 3px #a72525 solid;
}

#round-14 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 200px 0px 0px 0px;
  border-top: 3px #a72525 solid;
  border-left: 3px #a72525 solid;
  border-bottom: 3px #a72525 solid;
}

#round-15 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 200px 0px 0px 0px;
  border-top: 3px #a72525 solid;
  border-left: 3px #a72525 solid;
  border-bottom: 3px #a72525 solid;
  border-right: 3px #a72525 solid;
}


#round-16 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 0px 200px 0px 0px;
  border-right: 3px #a72525 solid;
}

#round-17 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 0px 200px 0px 0px;
  border-bottom: 3px #a72525 solid;
}

#round-18 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 0px 200px 0px 0px;
  border-bottom: 3px #a72525 solid;
  border-right: 3px #a72525 solid;
}

#round-19 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 0px 200px 0px 0px;
  border-left: 3px #a72525 solid;
}

#round-20 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 0px 200px 0px 0px;
  border-left: 3px #a72525 solid;
  border-right: 3px #a72525 solid;
}

#round-21 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 0px 200px 0px 0px;
  border-left: 3px #a72525 solid;
  border-bottom: 3px #a72525 solid;
}

#round-22 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 0px 200px 0px 0px;
  border-left: 3px #a72525 solid;
  border-bottom: 3px #a72525 solid;
  border-right: 3px #a72525 solid;
}

#round-23 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 0px 200px 0px 0px;
  border-top: 3px #a72525 solid;
}

#round-24 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 0px 200px 0px 0px;
  border-top: 3px #a72525 solid;
  border-right: 3px #a72525 solid;
}

#round-25 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 0px 200px 0px 0px;
  border-top: 3px #a72525 solid;
  border-bottom: 3px #a72525 solid;
}

#round-26 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 0px 200px 0px 0px;
  border-top: 3px #a72525 solid;
  border-bottom: 3px #a72525 solid;
  border-right: 3px #a72525 solid;
}

#round-27 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 0px 200px 0px 0px;
  border-top: 3px #a72525 solid;
  border-left: 3px #a72525 solid;
}

#round-28 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 0px 200px 0px 0px;
  border-top: 3px #a72525 solid;
  border-left: 3px #a72525 solid;
  border-right: 3px #a72525 solid;
}

#round-29 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 0px 200px 0px 0px;
  border-top: 3px #a72525 solid;
  border-left: 3px #a72525 solid;
  border-bottom: 3px #a72525 solid;
}

#round-30 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 0px 200px 0px 0px;
  border-top: 3px #a72525 solid;
  border-left: 3px #a72525 solid;
  border-bottom: 3px #a72525 solid;
  border-right: 3px #a72525 solid;
}


#round-31 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 0px 0px 200px 0px;
  border-right: 3px #a72525 solid;
}

#round-32 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 0px 0px 200px 0px;
  border-bottom: 3px #a72525 solid;
}

#round-33 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 0px 0px 200px 0px;
  border-bottom: 3px #a72525 solid;
  border-right: 3px #a72525 solid;
}

#round-34 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 0px 0px 200px 0px;
  border-left: 3px #a72525 solid;
}

#round-35 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 0px 0px 200px 0px;
  border-left: 3px #a72525 solid;
  border-right: 3px #a72525 solid;
}

#round-36 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 0px 0px 200px 0px;
  border-left: 3px #a72525 solid;
  border-bottom: 3px #a72525 solid;
}

#round-37 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 0px 0px 200px 0px;
  border-left: 3px #a72525 solid;
  border-bottom: 3px #a72525 solid;
  border-right: 3px #a72525 solid;
}

#round-38 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 0px 0px 200px 0px;
  border-top: 3px #a72525 solid;
}

#round-39 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 0px 0px 200px 0px;
  border-top: 3px #a72525 solid;
  border-right: 3px #a72525 solid;
}

#round-40 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 0px 0px 200px 0px;
  border-top: 3px #a72525 solid;
  border-bottom: 3px #a72525 solid;
}

#round-41 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 0px 0px 200px 0px;
  border-top: 3px #a72525 solid;
  border-bottom: 3px #a72525 solid;
  border-right: 3px #a72525 solid;
}

#round-42 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 0px 0px 200px 0px;
  border-top: 3px #a72525 solid;
  border-left: 3px #a72525 solid;
}

#round-43 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 0px 0px 200px 0px;
  border-top: 3px #a72525 solid;
  border-left: 3px #a72525 solid;
  border-right: 3px #a72525 solid;
}

#round-44 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 0px 0px 200px 0px;
  border-top: 3px #a72525 solid;
  border-left: 3px #a72525 solid;
  border-bottom: 3px #a72525 solid;
}

#round-45 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 0px 0px 200px 0px;
  border-top: 3px #a72525 solid;
  border-left: 3px #a72525 solid;
  border-bottom: 3px #a72525 solid;
  border-right: 3px #a72525 solid;
}


#round-46 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 0px 0px 0px 200px;
  border-right: 3px #a72525 solid;
}

#round-47 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 0px 0px 0px 200px;
  border-bottom: 3px #a72525 solid;
}

#round-48 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 0px 0px 0px 200px;
  border-bottom: 3px #a72525 solid;
  border-right: 3px #a72525 solid;
}

#round-49 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 0px 0px 0px 200px;
  border-left: 3px #a72525 solid;
}

#round-50 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 0px 0px 0px 200px;
  border-left: 3px #a72525 solid;
  border-right: 3px #a72525 solid;
}

#round-51 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 0px 0px 0px 200px;
  border-left: 3px #a72525 solid;
  border-bottom: 3px #a72525 solid;
}

#round-52 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 0px 0px 0px 200px;
  border-left: 3px #a72525 solid;
  border-bottom: 3px #a72525 solid;
  border-right: 3px #a72525 solid;
}

#round-53 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 0px 0px 0px 200px;
  border-top: 3px #a72525 solid;
}

#round-54 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 0px 0px 0px 200px;
  border-top: 3px #a72525 solid;
  border-right: 3px #a72525 solid;
}

#round-55 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 0px 0px 0px 200px;
  border-top: 3px #a72525 solid;
  border-bottom: 3px #a72525 solid;
}

#round-56 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 0px 0px 0px 200px;
  border-top: 3px #a72525 solid;
  border-bottom: 3px #a72525 solid;
  border-right: 3px #a72525 solid;
}

#round-57 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 0px 0px 0px 200px;
  border-top: 3px #a72525 solid;
  border-left: 3px #a72525 solid;
}

#round-58 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 0px 0px 0px 200px;
  border-top: 3px #a72525 solid;
  border-left: 3px #a72525 solid;
  border-right: 3px #a72525 solid;
}

#round-59 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 0px 0px 0px 200px;
  border-top: 3px #a72525 solid;
  border-left: 3px #a72525 solid;
  border-bottom: 3px #a72525 solid;
}

#round-60 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 0px 0px 0px 200px;
  border-top: 3px #a72525 solid;
  border-left: 3px #a72525 solid;
  border-bottom: 3px #a72525 solid;
  border-right: 3px #a72525 solid;
}


#round-61 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 200px 0px 0px 200px;
  border-right: 3px #a72525 solid;
}

#round-62 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 200px 0px 0px 200px;
  border-bottom: 3px #a72525 solid;
}

#round-63 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 200px 0px 0px 200px;
  border-bottom: 3px #a72525 solid;
  border-right: 3px #a72525 solid;
}

#round-64 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 200px 0px 0px 200px;
  border-left: 3px #a72525 solid;
}

#round-65 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 200px 0px 0px 200px;
  border-left: 3px #a72525 solid;
  border-right: 3px #a72525 solid;
}

#round-66 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 200px 0px 0px 200px;
  border-left: 3px #a72525 solid;
  border-bottom: 3px #a72525 solid;
}

#round-67 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 200px 0px 0px 200px;
  border-left: 3px #a72525 solid;
  border-bottom: 3px #a72525 solid;
  border-right: 3px #a72525 solid;
}

#round-68 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 200px 0px 0px 200px;
  border-top: 3px #a72525 solid;
}

#round-69 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 200px 0px 0px 200px;
  border-top: 3px #a72525 solid;
  border-right: 3px #a72525 solid;
}

#round-70 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 200px 0px 0px 200px;
  border-top: 3px #a72525 solid;
  border-bottom: 3px #a72525 solid;
}

#round-71 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 200px 0px 0px 200px;
  border-top: 3px #a72525 solid;
  border-bottom: 3px #a72525 solid;
  border-right: 3px #a72525 solid;
}

#round-72 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 200px 0px 0px 200px;
  border-top: 3px #a72525 solid;
  border-left: 3px #a72525 solid;
}

#round-73 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 200px 0px 0px 200px;
  border-top: 3px #a72525 solid;
  border-left: 3px #a72525 solid;
  border-right: 3px #a72525 solid;
}

#round-74 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 200px 0px 0px 200px;
  border-top: 3px #a72525 solid;
  border-left: 3px #a72525 solid;
  border-bottom: 3px #a72525 solid;
}

#round-75 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 200px 0px 0px 200px;
  border-top: 3px #a72525 solid;
  border-left: 3px #a72525 solid;
  border-bottom: 3px #a72525 solid;
  border-right: 3px #a72525 solid;
}


#round-76 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 0px 200px 200px 0px;
  border-right: 3px #a72525 solid;
}

#round-77 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 0px 200px 200px 0px;
  border-bottom: 3px #a72525 solid;
}

#round-78 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 0px 200px 200px 0px;
  border-bottom: 3px #a72525 solid;
  border-right: 3px #a72525 solid;
}

#round-79 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 0px 200px 200px 0px;
  border-left: 3px #a72525 solid;
}

#round-80 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 0px 200px 200px 0px;
  border-left: 3px #a72525 solid;
  border-right: 3px #a72525 solid;
}

#round-81 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 0px 200px 200px 0px;
  border-left: 3px #a72525 solid;
  border-bottom: 3px #a72525 solid;
}

#round-82 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 0px 200px 200px 0px;
  border-left: 3px #a72525 solid;
  border-bottom: 3px #a72525 solid;
  border-right: 3px #a72525 solid;
}

#round-83 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 0px 200px 200px 0px;
  border-top: 3px #a72525 solid;
}

#round-84 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 0px 200px 200px 0px;
  border-top: 3px #a72525 solid;
  border-right: 3px #a72525 solid;
}

#round-85 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 0px 200px 200px 0px;
  border-top: 3px #a72525 solid;
  border-bottom: 3px #a72525 solid;
}

#round-86 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 0px 200px 200px 0px;
  border-top: 3px #a72525 solid;
  border-bottom: 3px #a72525 solid;
  border-right: 3px #a72525 solid;
}

#round-87 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 0px 200px 200px 0px;
  border-top: 3px #a72525 solid;
  border-left: 3px #a72525 solid;
}

#round-88 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 0px 200px 200px 0px;
  border-top: 3px #a72525 solid;
  border-left: 3px #a72525 solid;
  border-right: 3px #a72525 solid;
}

#round-89 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 0px 200px 200px 0px;
  border-top: 3px #a72525 solid;
  border-left: 3px #a72525 solid;
  border-bottom: 3px #a72525 solid;
}

#round-90 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 0px 200px 200px 0px;
  border-top: 3px #a72525 solid;
  border-left: 3px #a72525 solid;
  border-bottom: 3px #a72525 solid;
  border-right: 3px #a72525 solid;
}


#round-91 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 0px 0px 200px 200px;
  border-right: 3px #a72525 solid;
}

#round-92 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 0px 0px 200px 200px;
  border-bottom: 3px #a72525 solid;
}

#round-93 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 0px 0px 200px 200px;
  border-bottom: 3px #a72525 solid;
  border-right: 3px #a72525 solid;
}

#round-94 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 0px 0px 200px 200px;
  border-left: 3px #a72525 solid;
}

#round-95 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 0px 0px 200px 200px;
  border-left: 3px #a72525 solid;
  border-right: 3px #a72525 solid;
}

#round-96 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 0px 0px 200px 200px;
  border-left: 3px #a72525 solid;
  border-bottom: 3px #a72525 solid;
}

#round-97 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 0px 0px 200px 200px;
  border-left: 3px #a72525 solid;
  border-bottom: 3px #a72525 solid;
  border-right: 3px #a72525 solid;
}

#round-98 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 0px 0px 200px 200px;
  border-top: 3px #a72525 solid;
}

#round-99 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 0px 0px 200px 200px;
  border-top: 3px #a72525 solid;
  border-right: 3px #a72525 solid;
}

#round-100 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 0px 0px 200px 200px;
  border-top: 3px #a72525 solid;
  border-bottom: 3px #a72525 solid;
}

#round-101 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 0px 0px 200px 200px;
  border-top: 3px #a72525 solid;
  border-bottom: 3px #a72525 solid;
  border-right: 3px #a72525 solid;
}

#round-102 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 0px 0px 200px 200px;
  border-top: 3px #a72525 solid;
  border-left: 3px #a72525 solid;
}

#round-103 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 0px 0px 200px 200px;
  border-top: 3px #a72525 solid;
  border-left: 3px #a72525 solid;
  border-right: 3px #a72525 solid;
}

#round-104 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 0px 0px 200px 200px;
  border-top: 3px #a72525 solid;
  border-left: 3px #a72525 solid;
  border-bottom: 3px #a72525 solid;
}

#round-105 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 0px 0px 200px 200px;
  border-top: 3px #a72525 solid;
  border-left: 3px #a72525 solid;
  border-bottom: 3px #a72525 solid;
  border-right: 3px #a72525 solid;
}


#round-106 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 200px 200px 0px 0px;
  border-right: 3px #a72525 solid;
}

#round-107 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 200px 200px 0px 0px;
  border-bottom: 3px #a72525 solid;
}

#round-108 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 200px 200px 0px 0px;
  border-bottom: 3px #a72525 solid;
  border-right: 3px #a72525 solid;
}

#round-109 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 200px 200px 0px 0px;
  border-left: 3px #a72525 solid;
}

#round-110 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 200px 200px 0px 0px;
  border-left: 3px #a72525 solid;
  border-right: 3px #a72525 solid;
}

#round-111 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 200px 200px 0px 0px;
  border-left: 3px #a72525 solid;
  border-bottom: 3px #a72525 solid;
}

#round-112 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 200px 200px 0px 0px;
  border-left: 3px #a72525 solid;
  border-bottom: 3px #a72525 solid;
  border-right: 3px #a72525 solid;
}

#round-113 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 200px 200px 0px 0px;
  border-top: 3px #a72525 solid;
}

#round-114 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 200px 200px 0px 0px;
  border-top: 3px #a72525 solid;
  border-right: 3px #a72525 solid;
}

#round-115 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 200px 200px 0px 0px;
  border-top: 3px #a72525 solid;
  border-bottom: 3px #a72525 solid;
}

#round-116 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 200px 200px 0px 0px;
  border-top: 3px #a72525 solid;
  border-bottom: 3px #a72525 solid;
  border-right: 3px #a72525 solid;
}

#round-117 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 200px 200px 0px 0px;
  border-top: 3px #a72525 solid;
  border-left: 3px #a72525 solid;
}

#round-118 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 200px 200px 0px 0px;
  border-top: 3px #a72525 solid;
  border-left: 3px #a72525 solid;
  border-right: 3px #a72525 solid;
}

#round-119 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 200px 200px 0px 0px;
  border-top: 3px #a72525 solid;
  border-left: 3px #a72525 solid;
  border-bottom: 3px #a72525 solid;
}

#round-120 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 200px 200px 0px 0px;
  border-top: 3px #a72525 solid;
  border-left: 3px #a72525 solid;
  border-bottom: 3px #a72525 solid;
  border-right: 3px #a72525 solid;
}


#round-121 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 200px 0px 200px 0px;
  border-right: 3px #a72525 solid;
}

#round-122 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 200px 0px 200px 0px;
  border-bottom: 3px #a72525 solid;
}

#round-123 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 200px 0px 200px 0px;
  border-bottom: 3px #a72525 solid;
  border-right: 3px #a72525 solid;
}

#round-124 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 200px 0px 200px 0px;
  border-left: 3px #a72525 solid;
}

#round-125 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 200px 0px 200px 0px;
  border-left: 3px #a72525 solid;
  border-right: 3px #a72525 solid;
}

#round-126 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 200px 0px 200px 0px;
  border-left: 3px #a72525 solid;
  border-bottom: 3px #a72525 solid;
}

#round-127 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 200px 0px 200px 0px;
  border-left: 3px #a72525 solid;
  border-bottom: 3px #a72525 solid;
  border-right: 3px #a72525 solid;
}

#round-128 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 200px 0px 200px 0px;
  border-top: 3px #a72525 solid;
}

#round-129 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 200px 0px 200px 0px;
  border-top: 3px #a72525 solid;
  border-right: 3px #a72525 solid;
}

#round-130 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 200px 0px 200px 0px;
  border-top: 3px #a72525 solid;
  border-bottom: 3px #a72525 solid;
}

#round-131 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 200px 0px 200px 0px;
  border-top: 3px #a72525 solid;
  border-bottom: 3px #a72525 solid;
  border-right: 3px #a72525 solid;
}

#round-132 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 200px 0px 200px 0px;
  border-top: 3px #a72525 solid;
  border-left: 3px #a72525 solid;
}

#round-133 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 200px 0px 200px 0px;
  border-top: 3px #a72525 solid;
  border-left: 3px #a72525 solid;
  border-right: 3px #a72525 solid;
}

#round-134 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 200px 0px 200px 0px;
  border-top: 3px #a72525 solid;
  border-left: 3px #a72525 solid;
  border-bottom: 3px #a72525 solid;
}

#round-135 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 200px 0px 200px 0px;
  border-top: 3px #a72525 solid;
  border-left: 3px #a72525 solid;
  border-bottom: 3px #a72525 solid;
  border-right: 3px #a72525 solid;
}


#round-136 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 0px 200px 0px 200px;
  border-right: 3px #a72525 solid;
}

#round-137 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 0px 200px 0px 200px;
  border-bottom: 3px #a72525 solid;
}

#round-138 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 0px 200px 0px 200px;
  border-bottom: 3px #a72525 solid;
  border-right: 3px #a72525 solid;
}

#round-139 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 0px 200px 0px 200px;
  border-left: 3px #a72525 solid;
}

#round-140 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 0px 200px 0px 200px;
  border-left: 3px #a72525 solid;
  border-right: 3px #a72525 solid;
}

#round-141 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 0px 200px 0px 200px;
  border-left: 3px #a72525 solid;
  border-bottom: 3px #a72525 solid;
}

#round-142 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 0px 200px 0px 200px;
  border-left: 3px #a72525 solid;
  border-bottom: 3px #a72525 solid;
  border-right: 3px #a72525 solid;
}

#round-143 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 0px 200px 0px 200px;
  border-top: 3px #a72525 solid;
}

#round-144 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 0px 200px 0px 200px;
  border-top: 3px #a72525 solid;
  border-right: 3px #a72525 solid;
}

#round-145 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 0px 200px 0px 200px;
  border-top: 3px #a72525 solid;
  border-bottom: 3px #a72525 solid;
}

#round-146 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 0px 200px 0px 200px;
  border-top: 3px #a72525 solid;
  border-bottom: 3px #a72525 solid;
  border-right: 3px #a72525 solid;
}

#round-147 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 0px 200px 0px 200px;
  border-top: 3px #a72525 solid;
  border-left: 3px #a72525 solid;
}

#round-148 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 0px 200px 0px 200px;
  border-top: 3px #a72525 solid;
  border-left: 3px #a72525 solid;
  border-right: 3px #a72525 solid;
}

#round-149 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 0px 200px 0px 200px;
  border-top: 3px #a72525 solid;
  border-left: 3px #a72525 solid;
  border-bottom: 3px #a72525 solid;
}

#round-150 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 0px 200px 0px 200px;
  border-top: 3px #a72525 solid;
  border-left: 3px #a72525 solid;
  border-bottom: 3px #a72525 solid;
  border-right: 3px #a72525 solid;
}


#round-151 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 200px 200px 0px 200px;
  border-right: 3px #a72525 solid;
}

#round-152 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 200px 200px 0px 200px;
  border-bottom: 3px #a72525 solid;
}

#round-153 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 200px 200px 0px 200px;
  border-bottom: 3px #a72525 solid;
  border-right: 3px #a72525 solid;
}

#round-154 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 200px 200px 0px 200px;
  border-left: 3px #a72525 solid;
}

#round-155 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 200px 200px 0px 200px;
  border-left: 3px #a72525 solid;
  border-right: 3px #a72525 solid;
}

#round-156 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 200px 200px 0px 200px;
  border-left: 3px #a72525 solid;
  border-bottom: 3px #a72525 solid;
}

#round-157 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 200px 200px 0px 200px;
  border-left: 3px #a72525 solid;
  border-bottom: 3px #a72525 solid;
  border-right: 3px #a72525 solid;
}

#round-158 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 200px 200px 0px 200px;
  border-top: 3px #a72525 solid;
}

#round-159 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 200px 200px 0px 200px;
  border-top: 3px #a72525 solid;
  border-right: 3px #a72525 solid;
}

#round-160 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 200px 200px 0px 200px;
  border-top: 3px #a72525 solid;
  border-bottom: 3px #a72525 solid;
}

#round-161 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 200px 200px 0px 200px;
  border-top: 3px #a72525 solid;
  border-bottom: 3px #a72525 solid;
  border-right: 3px #a72525 solid;
}

#round-162 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 200px 200px 0px 200px;
  border-top: 3px #a72525 solid;
  border-left: 3px #a72525 solid;
}

#round-163 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 200px 200px 0px 200px;
  border-top: 3px #a72525 solid;
  border-left: 3px #a72525 solid;
  border-right: 3px #a72525 solid;
}

#round-164 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 200px 200px 0px 200px;
  border-top: 3px #a72525 solid;
  border-left: 3px #a72525 solid;
  border-bottom: 3px #a72525 solid;
}

#round-165 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 200px 200px 0px 200px;
  border-top: 3px #a72525 solid;
  border-left: 3px #a72525 solid;
  border-bottom: 3px #a72525 solid;
  border-right: 3px #a72525 solid;
}


#round-166 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 200px 0px 200px 200px;
  border-right: 3px #a72525 solid;
}

#round-167 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 200px 0px 200px 200px;
  border-bottom: 3px #a72525 solid;
}

#round-168 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 200px 0px 200px 200px;
  border-bottom: 3px #a72525 solid;
  border-right: 3px #a72525 solid;
}

#round-169 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 200px 0px 200px 200px;
  border-left: 3px #a72525 solid;
}

#round-170 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 200px 0px 200px 200px;
  border-left: 3px #a72525 solid;
  border-right: 3px #a72525 solid;
}

#round-171 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 200px 0px 200px 200px;
  border-left: 3px #a72525 solid;
  border-bottom: 3px #a72525 solid;
}

#round-172 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 200px 0px 200px 200px;
  border-left: 3px #a72525 solid;
  border-bottom: 3px #a72525 solid;
  border-right: 3px #a72525 solid;
}

#round-173 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 200px 0px 200px 200px;
  border-top: 3px #a72525 solid;
}

#round-174 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 200px 0px 200px 200px;
  border-top: 3px #a72525 solid;
  border-right: 3px #a72525 solid;
}

#round-175 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 200px 0px 200px 200px;
  border-top: 3px #a72525 solid;
  border-bottom: 3px #a72525 solid;
}

#round-176 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 200px 0px 200px 200px;
  border-top: 3px #a72525 solid;
  border-bottom: 3px #a72525 solid;
  border-right: 3px #a72525 solid;
}

#round-177 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 200px 0px 200px 200px;
  border-top: 3px #a72525 solid;
  border-left: 3px #a72525 solid;
}

#round-178 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 200px 0px 200px 200px;
  border-top: 3px #a72525 solid;
  border-left: 3px #a72525 solid;
  border-right: 3px #a72525 solid;
}

#round-179 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 200px 0px 200px 200px;
  border-top: 3px #a72525 solid;
  border-left: 3px #a72525 solid;
  border-bottom: 3px #a72525 solid;
}

#round-180 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 200px 0px 200px 200px;
  border-top: 3px #a72525 solid;
  border-left: 3px #a72525 solid;
  border-bottom: 3px #a72525 solid;
  border-right: 3px #a72525 solid;
}


#round-181 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 200px 200px 200px 0px;
  border-right: 3px #a72525 solid;
}

#round-182 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 200px 200px 200px 0px;
  border-bottom: 3px #a72525 solid;
}

#round-183 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 200px 200px 200px 0px;
  border-bottom: 3px #a72525 solid;
  border-right: 3px #a72525 solid;
}

#round-184 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 200px 200px 200px 0px;
  border-left: 3px #a72525 solid;
}

#round-185 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 200px 200px 200px 0px;
  border-left: 3px #a72525 solid;
  border-right: 3px #a72525 solid;
}

#round-186 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 200px 200px 200px 0px;
  border-left: 3px #a72525 solid;
  border-bottom: 3px #a72525 solid;
}

#round-187 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 200px 200px 200px 0px;
  border-left: 3px #a72525 solid;
  border-bottom: 3px #a72525 solid;
  border-right: 3px #a72525 solid;
}

#round-188 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 200px 200px 200px 0px;
  border-top: 3px #a72525 solid;
}

#round-189 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 200px 200px 200px 0px;
  border-top: 3px #a72525 solid;
  border-right: 3px #a72525 solid;
}

#round-190 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 200px 200px 200px 0px;
  border-top: 3px #a72525 solid;
  border-bottom: 3px #a72525 solid;
}

#round-191 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 200px 200px 200px 0px;
  border-top: 3px #a72525 solid;
  border-bottom: 3px #a72525 solid;
  border-right: 3px #a72525 solid;
}

#round-192 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 200px 200px 200px 0px;
  border-top: 3px #a72525 solid;
  border-left: 3px #a72525 solid;
}

#round-193 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 200px 200px 200px 0px;
  border-top: 3px #a72525 solid;
  border-left: 3px #a72525 solid;
  border-right: 3px #a72525 solid;
}

#round-194 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 200px 200px 200px 0px;
  border-top: 3px #a72525 solid;
  border-left: 3px #a72525 solid;
  border-bottom: 3px #a72525 solid;
}

#round-195 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 200px 200px 200px 0px;
  border-top: 3px #a72525 solid;
  border-left: 3px #a72525 solid;
  border-bottom: 3px #a72525 solid;
  border-right: 3px #a72525 solid;
}


#round-196 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 0px 200px 200px 200px;
  border-right: 3px #a72525 solid;
}

#round-197 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 0px 200px 200px 200px;
  border-bottom: 3px #a72525 solid;
}

#round-198 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 0px 200px 200px 200px;
  border-bottom: 3px #a72525 solid;
  border-right: 3px #a72525 solid;
}

#round-199 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 0px 200px 200px 200px;
  border-left: 3px #a72525 solid;
}

#round-200 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 0px 200px 200px 200px;
  border-left: 3px #a72525 solid;
  border-right: 3px #a72525 solid;
}

#round-201 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 0px 200px 200px 200px;
  border-left: 3px #a72525 solid;
  border-bottom: 3px #a72525 solid;
}

#round-202 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 0px 200px 200px 200px;
  border-left: 3px #a72525 solid;
  border-bottom: 3px #a72525 solid;
  border-right: 3px #a72525 solid;
}

#round-203 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 0px 200px 200px 200px;
  border-top: 3px #a72525 solid;
}

#round-204 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 0px 200px 200px 200px;
  border-top: 3px #a72525 solid;
  border-right: 3px #a72525 solid;
}

#round-205 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 0px 200px 200px 200px;
  border-top: 3px #a72525 solid;
  border-bottom: 3px #a72525 solid;
}

#round-206 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 0px 200px 200px 200px;
  border-top: 3px #a72525 solid;
  border-bottom: 3px #a72525 solid;
  border-right: 3px #a72525 solid;
}

#round-207 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 0px 200px 200px 200px;
  border-top: 3px #a72525 solid;
  border-left: 3px #a72525 solid;
}

#round-208 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 0px 200px 200px 200px;
  border-top: 3px #a72525 solid;
  border-left: 3px #a72525 solid;
  border-right: 3px #a72525 solid;
}

#round-209 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 0px 200px 200px 200px;
  border-top: 3px #a72525 solid;
  border-left: 3px #a72525 solid;
  border-bottom: 3px #a72525 solid;
}

#round-210 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 0px 200px 200px 200px;
  border-top: 3px #a72525 solid;
  border-left: 3px #a72525 solid;
  border-bottom: 3px #a72525 solid;
  border-right: 3px #a72525 solid;
}


#round-211 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 200px 200px 200px 200px;
  border-right: 3px #a72525 solid;
}

#round-212 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 200px 200px 200px 200px;
  border-bottom: 3px #a72525 solid;
}

#round-213 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 200px 200px 200px 200px;
  border-bottom: 3px #a72525 solid;
  border-right: 3px #a72525 solid;
}

#round-214 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 200px 200px 200px 200px;
  border-left: 3px #a72525 solid;
}

#round-215 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 200px 200px 200px 200px;
  border-left: 3px #a72525 solid;
  border-right: 3px #a72525 solid;
}

#round-216 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 200px 200px 200px 200px;
  border-left: 3px #a72525 solid;
  border-bottom: 3px #a72525 solid;
}

#round-217 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 200px 200px 200px 200px;
  border-left: 3px #a72525 solid;
  border-bottom: 3px #a72525 solid;
  border-right: 3px #a72525 solid;
}

#round-218 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 200px 200px 200px 200px;
  border-top: 3px #a72525 solid;
}

#round-219 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 200px 200px 200px 200px;
  border-top: 3px #a72525 solid;
  border-right: 3px #a72525 solid;
}

#round-220 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 200px 200px 200px 200px;
  border-top: 3px #a72525 solid;
  border-bottom: 3px #a72525 solid;
}

#round-221 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 200px 200px 200px 200px;
  border-top: 3px #a72525 solid;
  border-bottom: 3px #a72525 solid;
  border-right: 3px #a72525 solid;
}

#round-222 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 200px 200px 200px 200px;
  border-top: 3px #a72525 solid;
  border-left: 3px #a72525 solid;
}

#round-223 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 200px 200px 200px 200px;
  border-top: 3px #a72525 solid;
  border-left: 3px #a72525 solid;
  border-right: 3px #a72525 solid;
}

#round-224 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 200px 200px 200px 200px;
  border-top: 3px #a72525 solid;
  border-left: 3px #a72525 solid;
  border-bottom: 3px #a72525 solid;
}

#round-225 {
  float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 200px 200px 200px 200px;
  border-top: 3px #a72525 solid;
  border-left: 3px #a72525 solid;
  border-bottom: 3px #a72525 solid;
  border-right: 3px #a72525 solid;
}
