* {
	margin: 0;
	padding: 0;
}
html {
	height: 100%;
}
body {
	min-height: 100%;
	padding: 0 2.5em;
	font-family: Palatino, 'Palatino Linotype', serif;
	background: #e8eff5 url('noise.png');
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
h1, h2 {
	padding-top: .2em;
	color: #e50;
	text-shadow: 0 2px white;
}
h1 {
	text-align: center;
	font-size: 500%;
}
a {
	color: inherit;
	text-decoration: none;
}

#patterns:after {
	content: "";
	display: block;
	clear: both;
}
#patterns > li {
	position: relative;
	width: 240px;
	height: 240px;
	margin: 40px 20px;
	float: left;
	list-style: none;

	background-color: rgba(230,230,230,1);
	border-radius: 120px;
    /* -moz-border-radius: 150px;
	-webkit-border-radius: 150px;
	-o-border-radius: 150px; */
	box-shadow: -6px -6px 20px 4px rgba(0,0,0,.3) inset,
    -12px -12px 40px 8px rgba(0,0,0,.1) inset, 
    0 0 0 15px rgba(230, 230, 230, .6) 
    inset, 0 0 0 1px rgba(0,0,0,.5), 
    2px 2px 10px rgba(0,0,0,.6);
    /*    	
	-moz-box-shadow: -3px -3px 10px 2px rgba(0,0,0,.3) inset, 
    0 0 0 15px rgba(255, 255, 255, .6) inset, 
    0 0 0 1px rgba(0,0,0,.5), 
    2px 2px 10px rgba(0,0,0,.6);
	-o-box-shadow: -3px -3px 10px 2px rgba(0,0,0,.3) inset, 
    0 0 0 15px rgba(255, 255, 255, .6) inset, 
    0 0 0 1px rgba(0,0,0,.5), 
    2px 2px 10px rgba(0,0,0,.6);*/

/* Overrride for Webkit bug */
	/* -webkit-box-shadow: 0 0 0 15px rgba(255, 255, 255, .6) inset, 
    0 0 0 1px rgba(0,0,0,.5), 
    2px 2px 10px rgba(0,0,0,.6); */	
}

#patterns > li:hover {
	cursor: pointer;
	background-color: white;
	box-shadow: -3px -3px 10px 2px rgba(0,0,0,.2) inset, 
	-6px -6px 20px 4px rgba(0,0,0,.1) inset,
	-12px -12px 40px 8px rgba(0,0,0,.05) inset,
	/* -30px -30px 100px 20px rgba(0,0,0,.01) inset, */
    0 0 0 15px rgba(255, 255, 255, .6) 
    inset, 0 0 0 1px rgba(0,0,0,.5), 
    2px 2px 10px rgba(0,0,0,.6);    	
}
