/* ---------------------------------------------
/* footer
/* --------------------------------------------- */ 
footer {
  background: transparent url('../images/hr.png') center 0 no-repeat;
  margin-top: -60px;
  padding-top: 10px;
  /* padding-bottom: 30px; */
  /* font-size: 13px; */
  /* color: #aaa; */
}

footer a {
  color: #666;
}
footer a:hover {
  color: #444;
}