/* my custom styles */
	
/*
	Fonts
*/	
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic);
@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Chivo:900);
@font-face {
    font-family: 'Mono Social Icons Font';
    src: url('../fonts/MonoSocialIconsFont-1.10.eot');
    src: url('../fonts/MonoSocialIconsFont-1.10.eot?#iefix') format('embedded-opentype'),
         url('../fonts/MonoSocialIconsFont-1.10.woff') format('woff'),
         url('../fonts/MonoSocialIconsFont-1.10.ttf') format('truetype'),
         url('../fonts/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont') format('svg');
    src: url('../fonts/MonoSocialIconsFont-1.10.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


/* LAYOUT STYLES */
html,body {
	height: 100%;
	/* The html and body elements cannot have any padding or margin. */
	margin: 0;
	padding: 0;	
}

::selection {
	/* background: #90bee4; */
	background: #c1dbf2;
	}
::-moz-selection {
	background: #90bee4;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  /* remove unnecessary gorizontal scroll */
  overflow: hidden;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}

/* links */
a {
	color: #7c65a5;
	text-decoration: none !important;
	outline: none !important;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	font-family: 'PT Sans', sans-serif;		
}
a:hover { 
	color: #555555;
}

p {
	font: 20px georgia, "times new roman", times, serif;
	color: #505050;
}


h1, h2, h3, h4 {
	font-family: 'Helvetica Neue', helvetica, sans-serif;
	text-transform: uppercase;
	padding: 0;
	letter-spacing: 2px;
	color: #505050;
}


h1 {
	margin: 0;
	text-transform: none;
	font-weight:400;
	font-size: 76px;
	color: #fff;
}
h2 {
	margin: 66px 0 44px;
	font-weight: 700;
	font-size: 42px;	
}
h3 {
	margin:0 0 22px;
	padding:0;
	font-weight: 400;
	font-size: 24px;
}
h4 {
	margin:0 0 20px;
	text-align: center;
	font-weight: 400;
	font-size: 17px;
}


/*  */
.dash {
	background-size: 100% 1px, 100% 1px, auto;
	background-position: 50% 100%, 50% 100%, 50% 0;
	background-repeat: no-repeat, no-repeat, no-repeat;
	background-origin: padding-box, border-box, padding-box;
	border-bottom: 1px solid transparent;
	background-image: linear-gradient(0deg, rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0) ),
		linear-gradient(0deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8)
		50%, rgba(255, 255, 255, 0) ),
		radial-gradient(50% 100%, ellipse cover, rgba(0, 0, 0, 0.05),
		rgba(0, 0, 0, 0) 50% );
	background-image: -o-linear-gradient(0deg, rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0) ),
		-o-linear-gradient(0deg, rgba(255, 255, 255, 0),
		rgba(255, 255, 255, 0.85) 50%, rgba(255, 255, 255, 0) ),
		-o-radial-gradient(50% 100%, ellipse cover, rgba(0, 0, 0, 0.05),
		rgba(0, 0, 0, 0) 50% );
	background-image: -moz-linear-gradient(0deg, rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0) ),
		-moz-linear-gradient(0deg, rgba(255, 255, 255, 0),
		rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0) ),
		-moz-radial-gradient(50% 100%, ellipse cover, rgba(0, 0, 0, 0.05),
		rgba(0, 0, 0, 0) 50% );
	background-image: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0) ),
		-webkit-linear-gradient(0deg, rgba(255, 255, 255, 0),
		rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0) ),
		-webkit-radial-gradient(50% 100%, ellipse cover, rgba(0, 0, 0, 0.05),
		rgba(0, 0, 0, 0) 50% );
}

hr {
	height: 50px;
	line-height: 1px;
	margin: -40px 0 50px;
	border: none;
}

.page_section {
	
}

/* ____________________ Home ____________________ */

#home {
	overflow:hidden;
	position:relative;
	padding:0;
	background: #e7e7e7 url(../images/body-bg.png) 0 0 repeat;
}

	.home_container {
		margin:0 auto;
	}
	
	#home .welcome_logo {
		position: relative;
		z-index: 1;
		text-align: center;
	}
	
	#backlight {
		background: transparent url(../images/highlight-bg.jpg) 50% 0 no-repeat;
		min-height: 100%;
		height: auto !important;
		height: 100%;
	}
	
	.logo {
		width: 100%;
		/* calculate padding via script automatically depends on windows size */
		/* padding: 50px 0 110px 0; */
		height: 400px;
		background-position: center center;
		background-repeat: no-repeat;
		background-image: url(../images/CaneFish.png);
	}
	
	/* Set the fixed height of the footer here */
	.welcome_footer {
		margin-top: -80px;
		height: 80px;
		
		position: relative;
		z-index: 2;
		text-align: center;
	}
	
	.welcome_footer hr {
		margin: 0;
	}
	  
	/* letters_wave */
	.letters_wave {
		font-size: 11px;
		font-weight: 200;
		text-transform: uppercase;
		text-align: center;
		color: #878787;
	}
/* 	a.letters_wave:hover { */
/* 		color: #7c65a5; */
/* 	} */
	.letters_wave > span {
	  	margin: 0 4px 0;
	}
	.letters_wave > span > span {
	    display: inline-block;
	}
	


/* ___________________ //About ___________________ */

#about {
	padding-bottom: 150px;
}

	#about h2 {
		/* margin-top: 68px; */
	}

	.author_foto img {
		width: 318px;
		height: 318px;
		margin: 35px 20px 10px 0;
		border-radius: 50%;
		box-shadow: inset 0px 0px 15px rgba(0,0,0,0.5);
		background-position: center center;
		background-repeat: no-repeat;
		background-image: url(../images/mustache.jpg);	
	}
	
	.author_words p, .author_words p > a {
		/* background-color: #F8F8F8; */
		line-height: 1.6;		
	}
	.author_words a {
		font: 20px georgia, "times new roman", times, serif;
	}
	.author_words > h3 {
		padding-top: 32px;
		font-weight: 700;
	}
	
	a.shutter {
		color: #7c65a5;
	    display: inline-block;
	    text-decoration: none;
	    overflow: hidden;
		vertical-align: top; /* or bottom */
	    -webkit-perspective: 600px;
	    -moz-perspective: 600px;
	    -ms-perspective: 600px;
	    perspective: 600px;
	    -webkit-perspective-origin: 50% 50%;
	    -moz-perspective-origin: 50% 50%;
	    -ms-perspective-origin: 50% 50%;
	    perspective-origin: 50% 50%;
	}
	    a.shutter:hover > span {
	      background: #7c65a5;
	      -webkit-transform: translate3d( 0px, 0px, -30px ) rotateX( 90deg );
	      -moz-transform: translate3d( 0px, 0px, -30px ) rotateX( 90deg );
	      -ms-transform: translate3d( 0px, 0px, -30px ) rotateX( 90deg );
	      transform: translate3d( 0px, 0px, -30px ) rotateX( 90deg );
	    }
	
	   a.shutter > span {
	      display: block;
	      position: relative;
	      padding: 0 3px;
	      -webkit-transition: all 0.5s ease;
	      -moz-transition: all 0.5s ease;
	      -ms-transition: all 0.5s ease;
	      transition: all 0.5s ease;
	      -webkit-transform-origin: 50% 0%;
	      -moz-transform-origin: 50% 0%;
	      -ms-transform-origin: 50% 0%;
	      transform-origin: 50% 0%;
	      -webkit-transform-style: preserve-3d;
	      -moz-transform-style: preserve-3d;
	      -ms-transform-style: preserve-3d;
	      transform-style: preserve-3d;
	   }
	   a.shutter > span:after {
	      content: attr(data-title);
	        display: block;
	        position: absolute;
	        left: 0;
	        top: 0;
	        padding: 0 3px;
	        color: #fff;
	        background: #7c65a5;
	        -webkit-transform-origin: 50% 0%;
	        -moz-transform-origin: 50% 0%;
	        -ms-transform-origin: 50% 0%;
	        transform-origin: 50% 0%;
	        -webkit-transform: translate3d( 0px, 105%, 0px ) rotateX( -90deg );
	        -moz-transform: translate3d( 0px, 105%, 0px ) rotateX( -90deg );
	        -ms-transform: translate3d( 0px, 105%, 0px ) rotateX( -90deg );
	        transform: translate3d( 0px, 105%, 0px ) rotateX( -90deg );
	      }




/* ___________________ //Portfolio ___________________ */

#portfolio {
    color: #929191;	
	/* background-color: #282828; */
	background-color: #f1f2f3;
}

	#portfolio h2 {
		background-color: #a8a8a8;
		-webkit-background-clip: text;
		-moz-background-clip: text;
		background-clip: text;
		color: transparent;
		text-shadow: rgba(255,255,255, 0.5) 0px 1px 1px;
		-webkit-background-clip: text;
     	-moz-background-clip: text;
        background-clip: text;		
	}
	
	p.portfolio_description {
		color: #9b9a9a;
	}


	/* __________ Filter __________ */
	#portfolio_filter {
		padding: 7px 0 13px;
		margin-bottom: 37px;
		font-size: 14px;
	}
		#portfolio_filter li {
			display:inline-block;
		}
		
			#portfolio_filter a {
				margin: 0 20px;
				padding: 0;
				text-transform: uppercase;
				cursor: pointer;
				color: #428bca;
			}
			
			#portfolio_filter a.shutter:hover>span {
				background: #428bca;
			}
			
			#portfolio_filter a.shutter>span:after {
				background: #428bca;
			}

	/* __________ Grid __________ */
	#portfolio_grid {
		/* border: 1px solid red; */	
		/* set padding 40px for child elements */
		margin-left: -40px;
		margin-right: -40px;
	}
	.mixitup_fade {
		/* initially if mixitup working */
		opacity: 0;
		display: none;	
		/*	
		denny attributes:
		position: absolute;
		float: left;
		float: right
		*/
	}
	#portfolio_grid .mix {
		margin: 0;		
		padding: 80px 40px;
	}
	
	#portfolio_grid .mix a {
		/* important for transform scaled images */
		display: block;
		overflow: hidden;
		outline: 0;
		text-decoration: none;		
	}	
	
	#portfolio_grid .mix img {
		display: block;
		/* показать изображение во всю ширину, ничего не скрывая */
		/* side-effect подрагивание в следующих колонках при наведении */
		/* width: 100%; */
		/* max-width: 100%; */
		/* background-position: top center; */
	}
	
	#portfolio_grid .mix a img {
		opacity: 0.85;
		filter: alpha(opacity=85);
		-webkit-transform: scale(1,1);
		-moz-transform: scale(1,1);
		-ms-transform: scale(1,1);
		-o-transform: scale(1,1);
		transform: scale(1,1);
		-webkit-transition-duration: 200ms;
		-moz-transition-duration: 200ms;
		-o-transition-duration: 200ms;
		transition-duration: 200ms;
		-webkit-transition-timing-function: ease-out;
		-moz-transition-timing-function: ease-out;
		-o-transition-timing-function: ease-out;
		transition-timing-function: ease-out;
	}	
	#portfolio_grid .mix a:hover img {
		opacity: 1;
		filter: alpha(opacity=100);
		-webkit-transform: scale(1.05,1.05);
		-moz-transform: scale(1.05,1.05);
		-ms-transform: scale(1.05,1.05);
		-o-transform: scale(1.05,1.05);
		transform: scale(1.05,1.05);
		
		-webkit-transition-duration: 200ms;
		-moz-transition-duration: 200ms;
		-o-transition-duration: 200ms;
		transition-duration: 200ms;
		
		-webkit-transition-timing-function: ease-out;
		-moz-transition-timing-function: ease-out;
		-o-transition-timing-function: ease-out;
		transition-timing-function: ease-out;
	}
	
	#portfolio_grid .mix .info {
		padding: 20px 0;
		border-bottom: 1px solid #eee;
/* 		text-align: center; */
	}

		#portfolio_grid .mix a.shutter {
			display: inline-block;
			letter-spacing: 2px;
			text-transform: uppercase;
			border: 0;
			cursor: pointer;
			color: #428bca;
		}
		
			#portfolio_grid .mix a.shutter:hover>span {
				background: #428bca;
			}
			
			#portfolio_grid .mix a.shutter>span:after {
				background: #428bca;
			}

		#portfolio_grid .mix a.info .year {	
			display: inline-block;		
			color: #aaa;
			margin-left: 10px;
		}	


	

/* ___________________ //contact ___________________ */
#contact {
	padding-bottom: 150px;
}

		.contact-box {
			margin-left: 0;
			margin-right: 0;
			background-color: #fff;
			border: 1px #ddd solid;
			border-radius: 4px;
			box-shadow: none;
		}
		.contact-box .glyphicon {
			font-weight: 700;
			font-size: 32px;
		}
		
		.contact-box .table>tbody>tr:nth-child(1)>td{
			border-top: none;
			padding-top: 10px;
		}
		
		.gs-map {
			margin-top: 62px;
			width: 100%;
			height: 300px;
			overflow: hidden;
		}
		

		.icon {
			margin: 0;
			float: left;
			width: 60px;
			line-height: 1.0;
			color: #333;
			
			-webkit-transition-duration: 0.5s;
			-moz-transition-duration: 0.5s;
			-o-transition-duration: 0.5s;
			transition-duration: 0.5s;	
		}
		
		.icon:hover {
			color: #428bca;
		}
	
	
		.symbol, a.symbol:before {
		    font-family: 'Mono Social Icons Font';
		    font-size: 60px;
		    	    
		    -webkit-text-rendering: optimizeLegibility;
		    -moz-text-rendering: optimizeLegibility;
		    -ms-text-rendering: optimizeLegibility;
		    -o-text-rendering: optimizeLegibility;
		    text-rendering: optimizeLegibility;
		    
		    -webkit-font-smoothing: antialiased;
		    -moz-font-smoothing: antialiased;
		    -ms-font-smoothing: antialiased;
		    -o-font-smoothing: antialiased;
		    font-smoothing: antialiased;
	
		}
		
		a.symbol:before {
		    content: attr(title);
		    margin-right: 0.3em;
		    /* font-size: 130%; */
		}		
		
		


/* ___________________ //footer ___________________ */

#footer {
	/* border-top: 1px solid #ddd; */
	/* position: fixed; */
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 100px;
	background-color: #111;
}

/* fence */
#footer:before {
	/* Set the footer height here */
	display: block;
	content: " ";
	height: 50px;
	background-size: 50px 100%;	
	background-image: linear-gradient(-45deg, transparent 50%, #fff 50%), linear-gradient(45deg, transparent 50%, #fff 50%);
}

	#copy {
		color: #f1f2f3;
		margin: 20px 0;
	}


/* ____________________ RESPONSIVE ____________________ */
/* Large devices (large desktops, 1200px and up) */
/* @media (min-width: 1200px) { } */


/* Medium devices (desktops, 992px and up) */
/* @media (max-width: 960px) { */
@media (max-width: 992px) {
	.logo {
		height: 200px;
		padding: 20px 0 50px 0;
		background-image: url(../images/CaneFish_middle.png);
	}
	
	.author_foto img {
		width: 212px;
		height: 212px;
		background-image: url(../images/mustache_middle.jpg);		
	}
}

/* Small devices (tablets, 768px and up) */
@media (max-width: 640px) {
	.logo {
		height: 100px;	
		padding: 15px 0 30px 0;
		background-image: url(../images/CaneFish_small.png);
	}
	.author_foto img {
		margin: 0 auto;	
	}
	/*
	.author_foto > img {
		width: 106px;
		height: 106px;
		background-image: url(../images/mustache_small.jpg);		
	}*/	
}
		