/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video
	{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section
	{
	display: block;
}

body {
	line-height: 1;
}

ol,ul {
	list-style: none;
}

blockquote,q {
	quotes: none;
}

blockquote:before,blockquote:after,q:before,q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* GENERAL ELEMENT TYPE STYLES */
p {
	font-weight: 300;
	margin-bottom: 20px;
}

a {
	text-decoration: none;
}

p a {
	font-weight: 400;
}

/* LAYOUT STYLES */
html,body {
	height: 100%;
	/* The html and body elements cannot have any padding or margin. */
}

body {
	font-size: 1em;
	line-height: 1.5;
	background: #e7e7e7 url(../images/body-bg.png) 0 0 repeat;
	font-family: 'Helvetica Neue', Helvetica, Arial, serif;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
	color: #6d6d6d;
}

.container {
	width: 100%;
	height: 100%;
}

.container:before,.container:after {
	content: '';
	content: none;
}

.inner {
	margin: 0 auto;
	max-width: 960px;
}

#backlight {
	background: transparent url(../images/highlight-bg.jpg) 50% 0 no-repeat;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}

.logo {
	width: 100%;
	padding: 50px 0 110px 0;
	height: 400px;
	background: transparent url(../images/CaneFish.png) no-repeat center
		center;
}

.dash {
	background-size: 100% 1px, 100% 1px, auto;
	background-position: 50% 100%, 50% 100%, 50% 0;
	background-repeat: no-repeat, no-repeat, no-repeat;
	background-origin: padding-box, border-box, padding-box;
	border-bottom: 1px solid transparent;
	background-image: linear-gradient(0deg, rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0) ),
		linear-gradient(0deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8)
		50%, rgba(255, 255, 255, 0) ),
		radial-gradient(50% 100%, ellipse cover, rgba(0, 0, 0, 0.05),
		rgba(0, 0, 0, 0) 50% );
	background-image: -o-linear-gradient(0deg, rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0) ),
		-o-linear-gradient(0deg, rgba(255, 255, 255, 0),
		rgba(255, 255, 255, 0.85) 50%, rgba(255, 255, 255, 0) ),
		-o-radial-gradient(50% 100%, ellipse cover, rgba(0, 0, 0, 0.05),
		rgba(0, 0, 0, 0) 50% );
	background-image: -moz-linear-gradient(0deg, rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0) ),
		-moz-linear-gradient(0deg, rgba(255, 255, 255, 0),
		rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0) ),
		-moz-radial-gradient(50% 100%, ellipse cover, rgba(0, 0, 0, 0.05),
		rgba(0, 0, 0, 0) 50% );
	background-image: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0) ),
		-webkit-linear-gradient(0deg, rgba(255, 255, 255, 0),
		rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0) ),
		-webkit-radial-gradient(50% 100%, ellipse cover, rgba(0, 0, 0, 0.05),
		rgba(0, 0, 0, 0) 50% );
}

hr {
	height: 50px;
	line-height: 1px;
	margin: -40px 0 50px;
	border: none;
}

footer hr, #footer hr {
	margin: 0;
}

/* Set the fixed height of the footer here */
footer,#footer {
	margin-top: -80px;
	height: 80px;
	text-align: center;
}

footer a,#footer a {
	font-family: 'Chivo', Helvetica, Arial, sans-serif;
	font-size: 11px;
	font-weight: 200;
	letter-spacing: 1px;
/* 	line-height: 14px; */
	text-transform: uppercase;
	/* color: #ccc; */
	color: #888;
}

footer a:hover,#footer a:hover {
	color: #666;
}


/* Smartphones (portrait and landscape) ----------- */

@media only screen
and (max-width: 900px) {
	.logo {
		padding: 20px 0 50px 0;
		height: 200px;
		background: transparent url(../images/CaneFish_middle.png) no-repeat center center;
	}
}


@media only screen
and (max-width: 640px) {
	.logo {
		padding: 15px 0 30px 0;
		height: 100px;
		background: transparent url(../images/CaneFish_small.png) no-repeat center center;
	}
}
