<!DOCTYPE html>
<html>
  <head>
  
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    {% if site.description %}
    <meta name="description" content="{{ site.description }}" />
    {% endif %}
    {% if site.author %}
    <meta name="author" content="{{ site.author }}" />
    {% endif %} 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    {% if site.fonts %}
    <link href='{{ site.fonts.first }}' rel='stylesheet' type='text/css'>
    {% endif %} 
        
    <link rel="stylesheet" type="text/css" href="{% if site.root_dir %}{{ site.root_dir }}{% endif %}/stylesheets/bootstrap.css" media="screen" />  
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->             
    <link rel="stylesheet" media="screen" href="{% if site.root_dir %}{{ site.root_dir }}{% endif %}/stylesheets/style.css" type="text/css" />    
    <!-- <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="stylesheets/pygment_trac.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print" /> -->
    <link rel="shortcut icon" href="images/favicon.png"/>
    <title>{% if page.title %}{{ page.title }}{% endif %}</title>
    {% if site.feedburner %}
    <link href="http://feeds.feedburner.com/{{ site.feedburner.id }}" rel="alternate" title="{{ site.title }}" type="application/atom+xml" />
    {% endif %}
    {% if site.google_analytics %}
    <!-- google analytics async -->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '{{ site.google_analytics.account }}']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    {% endif %}
  </head>
  
  <body>

    <!-- Part 1: Wrap all page content here -->
	<div id="wrap">
		<div id="backlight">
			<div class="container">

				<!-- Begin page content -->
				<header>
					<h1>{{ site.domain }}</h1>
					<h2>{{ site.title }}</h2>
				</header>
				
				<hr class="dash" />

				<div class="row">
					<div id="content" class="span9">
						{{ content }}
					</div>
					
					<nav class="span3">
						<h3>Recent Posts</h3>
						<div id="posts">
							{% for post in site.posts limit:10%}
							<p>
								<a href="{{ post.url }}">{{ post.title }}</a>
							</p>
							{% endfor %}
						</div>
					</nav>
				</div>

			</div><!-- .container -->
		</div>
	</div>
	<!-- #wrapper -->

	<!-- The last part: sticky footer -->
	<footer>
		<!-- <p>powered by <a href="https://github.com/mojombo/jekyll">jekyll</a></p> -->
		<div class="container">
			<div class="octocat">
				<a href="http://github.com/">GitHub</a>
			</div>
		</div>
	</footer>


  {% if site.github %}
    <!-- add my ribbon here -->
    <!-- <a href="http://github.com/{{ site.github.username }}"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub" /></a>  -->
  {% endif %}
  </body>
</html>
