


/* ---------------------------------------------
/* layout
/* --------------------------------------------- */ 

/*
body {
  font-size: 16px;
  line-height: 1.5; 
  background: #e7e7e7 url(body-bg.png) 0 0 repeat;
  font-family: Helvetica, Arial, serif;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
  color: #6d6d6d;
}
*/

.home_container {
  width: 960px; 
}

h2 {
  font-size: 22px;
  font-weight: bold;
  color: #303030;
  margin-top: 0px;
  margin-bottom: 8px;
} 

ul, ol, dl {
  margin-bottom: 20px;
}

p {
  font-weight: 300;
  margin-bottom: 20px;
}
 
a {
  text-decoration: none;
}

p a {
  font-weight: 400;
}

/* ---------------------------------------------
/* crawl
/* --------------------------------------------- */ 
ul#crawl-menu {
  padding-top: 120px;
}
ul#crawl-menu li, ul#crawl-menu li.box-shutter {
  display: inline;
  float: left;
  width: 300px;
  height: 253px;
  border-radius: 16px; 
  -moz-border-radius: 16px; 
  -webkit-border-radius: 16px;
  background: #fff url('box_bg.png') repeat-x;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.3); 
  -moz-box-shadow: 1px 1px 5px rgba(0,0,0,0.3); 
  -webkit-box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
  margin-right: 30px;
  padding-left: 0
}
ul#crawl-menu li.box-shutter {
  position: relative;
  top: 253px; /*всплывает снизу, уходит вниз */
  /* без top // расскрывается по центру, ухот вниз */
  /* top: 0; // всплывает сверху, уход вниз */
  height: 0; /* чтобы всплывал с нижней границы */
  /* height: 253px; */
  background-image: url('box_bg_gold.png');
}

ul#crawl-menu li.faq {
  margin-right: 0;
}
  .box-cont {
    position: absolute !important;
    width: 300px !important;
    cursor: default;
  }
    .box-cont span.box-image {
      display: block; 
      float: left;  
      width: 136px;  height: 250px;
      text-indent: -10000px;
    }
    .box-cont h2 {
      float: left;
      width: 100px;
      padding: 10px 55px 0 0;
      font-weight: bold;  
      text-transform: uppercase;  
      font-size: 20px;
      font-family: Arial, Hortensia, Annabelle; 
    }
    .box-cont h2 > a {
      color: #09c;
      text-decoration: none;   
    }
    .box-cont h2 > a:hover {
      color: #49b1c7;
      /* color: #96e3fc; */
    }
    .box-cont p {
      width: 145px; 
      overflow: hidden; 
      color: #000;
      padding-top: 0px;
      margin-bottom: 0px;
      font-size: 14px;  
    }
    .clients .box-cont span {
      background: url('clients.png') no-repeat top left;
    }
    .works .box-cont span {
      background: url('works.png') no-repeat top left;
    }
    .faq .box-cont span {
      background: url('support.png') no-repeat top left;
    }






  
